scipy
pandas
seaborn
matplotlib
numpy
setuptools
streamlit
duckdb
openpyxl
lazypredict
category_encoders
statsmodels
matplotlib
scikit-learn
catboost
xgboost
streamlit_lottie
html5lib
lxml
dill
sweetviz
