scipy
pandas
matplotlib
numpy
setuptools
streamlit
duckdb
openpyxl
lazypredict
category_encoders
statsmodels
matplotlib
scikit-learn
catboost
xgboost
ydata_profiling
streamlit_pandas_profiling
html5lib
lxml
beautifulsoup4
dill
Flask
-e .