scipy
pandas
matplotlib
numpy
setuptools
streamlit==1.36.0
duckdb
openpyxl
lazypredict
category_encoders
statsmodels
matplotlib
scikit-learn
catboost
xgboost
streamlit_lottie
html5lib
lxml
streamlit_pandas_profiling
pandas-profiling
dill
Flask
-e .
